/*------------------------->>>>>>>>>PAGINA DE Sobre Nosotros AJUSTES GENERALES<<<<<<<<<<---------------------------------*/

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#pagina_principal {
  height: 100%;
  width: 100%;
  background-image: url(../Assets/layout_icons_guspen.png);
}

/*------------------------->>>>>>>>>BANNER CONTACTANOS<<<<<<<<<<---------------------------------*/

.banner_nosotros {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.267)), url(../Assets/cards_services_background.jpg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-shadow: 2px 2px 4px #eeeeeec9;
  background-attachment: fixed;
  
}



.banner_content_nosotros {
  width: 80%;
}

.banner_content_nosotros img {
  width: 40%;
  height: 30%;
}

@media (max-width: 768px) {
  .banner_content_nosotros img {
    width: 100%;
    height: 30%;
  }

  .banner_nosotros p {
    font-size: 1.5rem !important;
    color: #fafdff;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {

  .banner_nosotros p {
    font-size: 1.3rem !important;
    color: #fafdff;
    margin-top: 20px;
  }
}

.banner_nosotros h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.banner_nosotros p {
  font-size: 1.5rem;
  color: #fafdff;
  margin-top: 20px;
}

/*-------------------------------CAROUSEL----------------------------------------*/
.carousel-item {
  height: 80vh;
  width: 60%;
  margin-left: 20%;
  background-color: #003300;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption-left {
  left: 10%;
  right: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

h2 {
  color: #63A61B;
  font-size: 6rem;
}

/*Para pantallas más pequeñas*/
@media (max-width: 768px) {
  .carousel-caption-left {
    max-width: 90%; /*Se limita a 90% para que se pueda ver bien en celular*/
    min-width: 50%; /*Se limita a 50% que tanto cubre en celular desde el inicio*/
  }
  .carousel-item {
    height: 100vh;
    margin-top: 10%;
  }
}

@media (max-width: 400px) {
  .carousel-item {
    width: 80%;
    margin-left: 10% !important;
  }
}


/*-------------------------------CAROUSEL CAPTIONS----------------------------------------*/
.carousel-caption-left .carousel-text {
  font-family: "Source Sans Pro", sans-serif;
}

.carousel-caption-left .carousel-text h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.carousel-caption-left .carousel-text p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 20px;
}

/*Para pantallas más pequeñas*/
@media (max-width: 768px) {
  .carousel-caption-left .carousel-text h3 {
    font-size: 2rem;
  }
  
  .carousel-caption-left .carousel-text p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .carousel-caption-left .carousel-text h3 {
    font-size: 1.5rem;
  }

  .carousel-caption-left .carousel-text p {
    font-size: 0.8rem;
  }
}

/*-----------------------------------CAROUSEL 3---------------------------------------------*/

.carousel-caption-left .carousel-text-3 {
  font-family: "Source Sans Pro", sans-serif;
}

.carousel-caption-left .carousel-text-3 h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.carousel-caption-left .carousel-text-3 p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .carousel-caption-left .carousel-text-3 h3 {
    font-size: 1.5rem;
  }

  .carousel-caption-left .carousel-text-3 p {
    font-size: 0.8rem;
  }
}

/*-------------------------------CAROUSEL CONTROLES----------------------------------------*/

.carousel-control-prev,
.carousel-control-next {
  width: 10vw; /*Ancho reducido para el area de clic para responsividad y para no cubrir el boton de ordenar*/
  height: 100%;
  background: none; /*Se quita el fondo por completo de las flechas*/
  top: 0;
  padding: 0;
  margin: 0;
}

.carousel-control-prev {
  left: 5vw; /*Pocisionar un poco mas al lado para que no quede tan pegado al borde de la pantalla*/
}

.carousel-control-next {
  right: 5vw; /*Pocisionar un poco mas al lado para que no quede tan pegado al borde de la pantalla*/
}


/*--------------------------------------SECCION RESPONSABILIDAD SOCIAL---------------------------------------------*/

.img-fluid {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  background-color: #003B00;
  padding: 20px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 1110px;
}

.content h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content .highlight {
  font-size: 3rem;
}

.content p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 2rem;
  }

  .content .highlight {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.2rem;
  }

  .img-fluid {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.content li {
  list-style-type: none;
  text-decoration: none !important;
  font-size: 1.2rem;
}

/*-------------------------SECCION CERTIFICACIONES AMBIENTALES-------------------------*/

.certificaciones {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.vertical-text {
  writing-mode: vertical-rl;
  /*Hace el texto vertical*/
  transform: rotate(180deg);
  /*Voltea el texto*/
  white-space: nowrap;
  font-size: 15vh;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

@media (max-width: 767.98px) {
  .vertical-text {
    writing-mode: horizontal-tb; /*Para celulares hace que vuelva a horizontal*/
    transform: rotate(0);
    white-space: normal;
    font-size: 10vw;
  }
}

.certificaciones .card {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  border-radius: 10px;
}

.certificaciones .card.animate {
  opacity: 1;
  transform: translateY(0);
}

.certificaciones .card:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

.certificaciones .card-body {
  background-color: #ffff;
  padding: 1.5rem;
  border-radius: 10px;
}
