body {
    font-family: Arial, sans-serif;
    background-color: #121316; /* Fondo */
    color: #ddd; /* Color del texto */
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #248AFF; /* Terciario */
    margin-bottom: 10px;
}
.titulo {
    font-size: 2.5rem;
    color: #FDD700; /* Warning */
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
    line-height: 1.6;
    color: #ddd; /* Color del texto */
}
hr {
    border: none;
    height: 2px;
    background: #1E1F22; /* Secundario */
    margin: 20px 0;
}

.step-list {
    list-style: decimal inside;
    padding-left: 20px;
}
.step-list li {
    margin: 10px 0;
    color: #ddd; /* Color del texto */
}
.highlight {
    font-weight: bold;
    color: #248AFF; /* Terciario */
}
code {
    background-color: #1E1F22; /* Secundario */
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: #FDD700; /* Warning */
}
.center-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #101920; /* Cards v5 */
}
h2 {
    text-align: center;
    font-size: 2rem;
    color: #248AFF; /* Terciario */
    margin-top: 30px;
}
