.t-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}
.t-title-main {
    text-align: center;
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 10px;
}
.t-title-main img {
    max-width: 100%;
    height: auto;
}
.t-titulo {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}
.t-paragraph {
    margin: 10px 0;
}
.t-hr {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}
.t-img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
.t-step-list {
    list-style: decimal inside;
    padding-left: 20px;
}
.t-step-list li {
    margin: 10px 0;
}
.t-highlight {
    font-weight: bold;
    color: #555;
}
.t-subtitle {
    text-align: center;
    font-size: 2rem;
    color: #444;
    margin-top: 30px;
}
